# eclipse
/bin
*.launch
/.settings
/.metadata
/.classpath
/.project

# idea
/out
*.ipr
*.iws
*.iml
/.idea
/classes

# gradle
/build
/.gradle

# other
/.vscode
/eclipse
/run
/runClient
/runServer
.cache
/libs

/src/main/generated/java
